html, body {
    font-family: monospace, sans-serif;
    margin: 0;
    height: 100%;
}

.screen {
    width: 100vw;
    background-color: rgb(48, 48, 48);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 20px;
}

.menu, 
.settings {
    flex: 1;
    display: flex;
    align-items: center;
}

.menu {
    justify-content: flex-start;
    padding-left: 20px;
}

.title {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.settings {
    padding-right: 20px;
    justify-content: flex-end;
}

.settings-button {
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}

.settings-button:hover {
    transform: scale(1.2);
}

.panel-button {
    background-color: transparent;
    border: none;
    font-size: 32px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}

.panel-button:hover {
    transform: scale(1.2);
}

.text {
    color: white;
    text-align: center;
    font-size: 28px;
    margin: 0;
}

.animation-section {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    padding-left: 20px;
}

.array-container {
    display: flex;
}

.animation-in-progress-text {
    margin-left: 20px;
    text-align: center;
    font-family: monospace, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    opacity: 0;
}


.command-buttons button {
    width: 120px;
    height: 50px;
    margin: 10px;
    margin-bottom: 30px;
    font-size: 25px;
    border:none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease-in;
}

.buttons {
    margin-left: 50px;
    display: flex;
    align-items: center;
}

.command-buttons button:hover {
    transform: scale(1.2);
}

.start-button {
    background-color: green;
}

.reset-button {
    background-color:rgb(0, 120, 200)
}