body {
    display: flex;
    justify-content: center;
}

.box {
    background-color: rgb(185, 0, 0);
    border: 1.5px black solid;
    width: 5vh;
    height: 5vh;
    margin: 1px;

    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: slideDiagonal;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.array-box p {
    font-family: monospace;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 0;
}

@keyframes slideDiagonal {
    from{transform: translate(0px, 0px)}
    to{transform: translate(50px, 50px);}
}